# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [86]:
data_film = pd.read_csv('/Users/sergejgordeev/Desktop/ОБУЧЕНИЕ/2. Phyton/10. Библиотека Pandas/ml-25m/ratings.csv')
sort = data_film[data_film['rating'] == 5.0]
ratings_grouped = sort.groupby('movieId').count().sort_values('timestamp', ascending=False).head()
movies = pd.read_csv('/Users/sergejgordeev/Desktop/ОБУЧЕНИЕ/2. Phyton/10. Библиотека Pandas/ml-25m/movies.csv')
joined = ratings_grouped.merge(movies, on='movieId', how='left')
joined.head(1)

,movieId,userId,rating,timestamp,title,genres
0,318,39553,39553,39553,"Shawshank Redemption, The (1994)",Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [40]:
data = pd.read_csv('/Users/sergejgordeev/Desktop/ОБУЧЕНИЕ/2. Phyton/10. Библиотека Pandas/10._Основы_pandas (1)/power.csv')
filtered_countries_cat = data[ ((data['country']== 'Latvia') & (data['category']== 4) )| ((data['country']== 'Lithuania') & (data['category']== 12) ) | ((data['country']== 'Estonia') & (data['category']== 21) ) ]
filtered_year = filtered_countries_cat[ (filtered_countries_cat['year'] == 2005) | (filtered_countries_cat['year'] == 2006) | (filtered_countries_cat['year'] == 2007) | (filtered_countries_cat['year'] == 2008) | (filtered_countries_cat['year'] == 2009) | (filtered_countries_cat['year'] == 2010) |(filtered_countries_cat['year'] == 2011)  ]
filtered_quantity = filtered_year[ (filtered_year['quantity'] > 0)]
sum_potr = filtered_quantity['quantity'].sum()
sum_potr

81240.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  89.36       0.03          0.04        NaN
1       USDRUB Курс рубля к доллару  73.90       0.07          0.10        NaN