# Домашнее задание к лекции "Статистика. Практика"/ «Кейс-стади»

<div class="alert alert-info">
<b>Задание 1</b>
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:
    
`1)` Как критики относятся к спортивным играм?
    
`2)` Критикам нравятся больше игры на PC или на PS4?
    
`3)` Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
    
- выберите пороговый уровень статистической значимости;
    
- опишите полученные результаты статистического теста.
    </div>

In [1]:
import pandas as pd
from scipy import stats as st

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/vgsales.csv')
df.head(100)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Crash Bandicoot 2: Cortex Strikes Back,PS,1997.0,Platform,Sony Computer Entertainment,3.78,2.17,1.31,0.31,7.58,NaN,NaN,NaN,NaN,NaN,NaN
96,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo,3.27,1.37,2.43,0.48,7.55,NaN,NaN,NaN,NaN,NaN,NaN
97,Super Mario Galaxy 2,Wii,2010.0,Platform,Nintendo,3.56,2.35,0.98,0.62,7.51,97.0,87.0,9.1,1854.0,Nintendo EAD Tokyo,E
98,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46,NaN,NaN,NaN,NaN,NaN,NaN
99,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.59,2.11,0.01,0.68,7.39,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
average_rating = df.Critic_Score.mean() #средняя оценка по всем видам игр
average_rating

68.96767850559173

<div class="alert alert-info">
<b>1. </b> Как критики относятся к спортивным играм?
        </div>

<div class="alert alert-dark">
<b>Нулевая гипотеза: </b> Нулевая гипотеза: Критики любят спортивные игры 
    
<b>Альтернативная гипотеза: </b> Критики не любят спортивные игры                                                                                          
Пороговый уровень статистической значимости: равнен 0,05. (Далее аналогично)

In [14]:
kznach = 0.05 
result = st.ttest_1samp(df[(df['Genre'] == 'Sports')].Critic_Score.dropna(), average_rating)
print(result)
if (result.statistic < 0) & (result.pvalue > kznach):
    print('Отвергаем нулевую гипотезу,  согласно данным критики не любят спортивные игры')
else:
    print('Не отвергаем нулевую гипотезу, согласно данным критики любят спортивные игры')

Ttest_1sampResult(statistic=7.470587451672033, pvalue=1.538088875231057e-13)
Не отвергаем нулевую гипотезу, согласно данным критики любят спортивные игры

In [ ]:
Согласно полученным данным, критики любят спортивные игры.

 <div class="alert alert-info">
    <b>2. </b> Критикам нравятся больше игры на PC или на PS4?

<div class="alert alert-dark">
<b>Нулевая гипотеза: </b>   критикам одинаково нравятся игры на PC и PS4

<b>Альтернативная гипотеза: </b>  отношение критиков к играм на PC и PS4 различно

In [7]:
result = st.ttest_ind(df[(df['Platform'] == 'PC')].Critic_Score.dropna(), 
                      df[(df['Platform'] == 'PS4')].Critic_Score.dropna(), equal_var=False)
print(result)
if (result.pvalue < kznach):
    print('Отвергаем нулевую гипотезу, отношение критиков к играм на PC и PS4 различно')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу, отношение критиков к играм на PC и PS4 различно

Согласно полученным данным, критики по разному относятся к играм на разных платформах.

 <div class="alert alert-info">

 <b>3. </b> Критикам больше нравятся стрелялки или стратегии?

<div class="alert alert-dark">
<b>Нулевая гипотеза: </b> критикам одинаково нравятся и стрелялки и стратегии
    
<b>Альтернативная гипотеза: </b>  критики по разному относятся к стрелялкам и стратегиям

In [12]:
result = st.ttest_ind(df[(df['Genre'] == 'Shooter')].Critic_Score.dropna(), 
                      df[(df['Genre'] == 'Strategy')].Critic_Score.dropna(), equal_var=False)
print(result)
if (result.pvalue < kznach):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям

Согласно полученным данным, критики по разному относятся к стрелялкам и стратегиям.

<div class="alert alert-info">
<b>Задание 2</b>
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;
    
2) Удалите мусорные символы;
    
3) Удалите стоп-слова;
    
4) Привидите все слова к нормальной форме;
    
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

Можете поэкспериментировать с параметрами TfidfVectorizer;
    
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
    
7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
    
8) Опишите результаты при помощи confusion_matrix;
    
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [15]:
import re
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [19]:
spam = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
spam_1 = spam.copy()

 <div class="alert alert-info">
1) Привидите весь текст к нижнему регистру;

In [27]:
spam_1.Message = spam_1.Message.str.lower()
spam_1.head()

  Category                                            Message
0      ham  go until jurong point, crazy.. available only ...
1      ham                      ok lar... joking wif u oni...
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham  u dun say so early hor... u c already then say...
4      ham  nah i don't think he goes to usf, he lives aro...

 <div class="alert alert-info">
    2) Удалите мусорные символы;

In [28]:
spam_1.Message = spam_1.Message.apply(lambda x: re.sub('[\W_]+',' ', x))
spam_1.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

 <div class="alert alert-info">
    3) Удалите стоп-слова;

In [30]:
spam_1.Words = spam_1.Message.apply(lambda x: x.split())
spam_1.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

In [34]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sergejgordeev/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [38]:
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
spam_1.Words = spam_1.Words.apply(lambda x: [word for word in x if word not in stopwords_set])
spam_1.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

 <div class="alert alert-info">
    4) Привидите все слова к нормальной форме;

In [40]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sergejgordeev/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [41]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
spam_1.Words = spam_1.Words.apply(lambda x: [wordnet_lemmatizer.lemmatize(word) for word in x])
spam_1.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

In [42]:
spam_1.Words = spam_1.Words.apply(lambda x: ' '.join(x))
spam_1.head()

  Category                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...

 <div class="alert alert-info">
    5) Преобразуйте все сообщения в вектора TF-IDF.

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam_1.Words)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
tfidf_matrix.head()

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 <div class="alert alert-info">
    6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;

 <div class="alert alert-info">
    7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;

In [44]:
X = tfidf_matrix
y = my_spam.Category
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [45]:
model = LogisticRegression(random_state=42) # модель логистической регрессии
model.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [46]:
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [47]:
y_pred_df = pd.Series(y_pred)
y_pred_df.index = y_test.index
result = pd.concat([y_test, y_pred_df], axis=1)
result.columns = ['y_test', 'y_pred']
result

     y_test y_pred
3245    ham    ham
944     ham    ham
1044    ham    ham
2484    ham    ham
812     ham    ham
...     ...    ...
2505    ham    ham
2525   spam   spam
4975    ham    ham
650    spam   spam
4463    ham    ham

[1672 rows x 2 columns]

In [49]:
from sklearn.metrics import accuracy_score # Расчет точности. метрика для сбалансированных классов
accuracy_score(y_test, y_pred)

0.958732057416268

 <div class="alert alert-info">
    8) Опишите результаты при помощи confusion_matrix;

In [50]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1445,    3],
       [  66,  158]])

Согласно данным в предсказанных значениях имеем 3 ошибки первого типа (ложно-положительное решение) и 66 ошибок второго типа (ложно-отрицательное решение).

 <div class="alert alert-info">
    9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [51]:
result[(result['y_test'] != result['y_pred'])].join(spam.drop('Category', axis=1), how='left')

     y_test y_pred                                            Message
2952    ham   spam                   Hey now am free you can call me.
881    spam    ham  Reminder: You have not downloaded the content ...
1961   spam    ham  Guess what! Somebody you know secretly fancies...
3864   spam    ham  Oh my god! I've found your number again! I'm s...
2575   spam    ham  Your next amazing xxx PICSFREE1 video will be ...
...     ...    ...                                                ...
4543   spam    ham  FreeMsg Hi baby wow just got a new cam moby. W...
752    spam    ham  You have an important customer service announc...
309    spam    ham  TheMob> Check out our newest selection of cont...
495     ham   spam                   Are you free now?can i call now?
305    spam    ham  SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...

[69 rows x 3 columns]